option_settings:
  - option_name: API
    value: <INSERT YOUR VALUE>
  - option_name: AppKey
    value: <INSERT YOUR VALUE>
  - option_name: AppSecret
    value: <INSERT YOUR VALUE>
  - option_name: Username
    value: <INSERT YOUR VALUE>
  - option_name: Password
    value: <INSERT YOUR VALUE>
  - option_name: UserToken
    value: <INSERT YOUR VALUE>
